# fly.toml app configuration file generated for payroll-components-demo on 2025-12-04T14:07:03+11:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'payroll-components-demo'
primary_region = 'syd'

[build]
  dockerfile = 'Dockerfile'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'

[env]
  PAYROO_API_URL='https://sandbox-embed.payroo.com.au/api'
  APP_ORIGIN='https://payroll-components-demo.fly.dev'
